@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --background: #ffffff;
  --foreground: #171717;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  height:100%;


}
:root {
  --scale-factor: 1;
}

/* Global typography scaling */
html, body {
  font-size: calc(16px * var(--scale-factor));
}

/* Optional: Scale paddings/margins */
.scaled {
  padding: calc(1rem * var(--scale-factor));
  font-size: calc(1rem * var(--scale-factor));
}
.loader-spinner {
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
  border-width: 4px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
